* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

/* header */
.container-header {
  padding: 10px 30px;
  border-bottom: 2px solid black;
  background-color: blanchedalmond;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo p {
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 80, 253);
}

.logo span {
  color: rgb(23, 121, 23);
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  text-align: center;
}

ul li {
  list-style: none;
  padding: 5px 10px;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: system-ui;
  font-size: 18px;
}

.menu-icon {
  display: none;
  font-size: 25px;
}

/* Home */
.text-pembuka h1 {
  margin: 20px 0;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

article p {
  margin: 10px 0 20px 0;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.banner {
 position: relative;
}

.banner img{
  width: 100%;
  height: 80vh;
  object-fit: cover; /*agar tidak gepeng*/
}

.banner button{
  display: inline-block;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.banner .button-back{
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}
.banner .button-next{
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Section Profile */
#our-profile {
  background-color: blanchedalmond;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 50px;
}

#our-profile h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 50px 0 20px 0;
  font-size: 40px;
}

.box-our-profile {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.box-images {
  width: 300px;
  padding: 10px 20px;
  box-shadow: 8px 8px 5px rgb(207, 206, 206);
  background-color: white;
  border-radius: 5px;
  border: 2px solid;
}

.box-images .images-profile {
  display: flex;
  justify-content: center;
}

.images-profile img {
  border-radius: 5px;
}

.title {
  margin: 10px 0;
  text-align: center;
}

.article {
  text-align: justify;
}

.article a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.article button {
  margin-top: 8px;
  padding: 8px 10px;
  background-color: blanchedalmond;
  border: 2px solid rgb(120, 111, 98);
  border-radius: 5px;
}

.article button i {
  margin-left: 10px;
}

/* Section Portofolio */
#portofolio {
  padding: 50px 20px 50px 20px;
  background-color: blanchedalmond;
  border-bottom: 2px solid black;
}

#portofolio > h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0 0 30px 0;
  font-size: 40px;
}

.container-portofolio {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.images-portofolio {
  display: flex;
  justify-content: center;
}

.images-portofolio img {
  max-width: 100%;
  border-radius: 5px;
}

.article-portofolio {
  width: 700px;
}

.article-portofolio a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.article-portofolio h1 {
  margin-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.article-portofolio p {
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
}

.article-portofolio button {
  margin-top: 8px;
  padding: 8px 10px;
  background-color: blanchedalmond;
  border: 2px solid rgb(120, 111, 98);
  border-radius: 5px;
}


/* Section Mesaage us */
#message-us {
  padding: 50px 20px 50px 20px;
  background-color: blanchedalmond;
  border-bottom: 2px solid black;
}

#message-us h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container-message-us {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 50px;
}

form {
  max-width: 100%;
  width: 500px;
}

label {
  font-size: 20px;
  margin-top: 10px;
}

input[type="text"],
input[type="date"] {
  max-width: 100%;
  width: 100%;
  margin-top: 5px;
  padding: 7px 10px;
  border-radius: 5px;
}

.text-gender {
  font-size: 18px;
}

textarea {
  resize: none;
  height: 100px;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  margin-top: 5px;
}

input[type="submit"] {
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 5px 0;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
}

input[type="submit"]:hover{
  background-color: blanchedalmond;
  color: black;
  transition: 0.5s;
}

.output-form {
  height: 250px;
  width: 500px;
  border: 2px solid;
  padding: 10px;
}

/* Footer */
.container-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  padding: 50px 20px;
  gap: 40px 20px;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-footer p {
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 80, 253);
}

.logo-footer span {
  color: rgb(23, 121, 23);
}

.list-footer li {
  list-style: none;
  margin-bottom: 15px;
  text-align: center;
}

.list-footer li a {
  color: white;
}

.text-footer {
  display: flex;
  align-items: center;
}

.container-footer > div h2 {
  color: white;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul li a:hover {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  transition: 0.2s;
}

.list-footer li a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  transition: 0.2s;
}

#error-name, #error-birth-date, #error-gender, #error-messages{
    color: red;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin-bottom: 5px;

}

/* Responsive */
@media only screen and (min-width: 320px) and (max-width: 728px) {
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  label {
    font-size: 16px;
  }

  .text-gender {
    font-size: 16px;
  }

  .images-portofolio img {
    width: 100%;
  }

  .article-portofolio p {
    font-size: 16px;
    line-height: 23px;
  }
  
  .banner button{

    font-size: 20px;
  }
}

@media only screen and (min-width: 728px) and (max-width: 1260px) {
  .images-portofolio img {
    width: 80%;
  }

  .article-portofolio {
    width: 80%;
    border: 1px solid;
  }

  .article-portofolio p {
    line-height: 25px;
  }
}
